@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois:wght@400&display=swap");

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 50px;
  margin: 0 auto;
}

.section {
  /* background-image: url('/public/bg.jpg'); */
  display: flex;
  background-color: #778291;
  background-size: cover;
  /* background-repeat: no-repeat; */
  color: #333;
  height: 80vh;
  width: 100%;
  /*text-align: center;*/
}

.sectionW1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionText {
  display: grid;
  gap: 20px;
}

.landingPage_text {
  margin: 11.7%  ;
  width: 47.3%;
  padding: 0px;
}
.landingPage_text h1{
  font-size: 45px;
}
.landingPage_text button{
  background-color: #E37576;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  width: 200px;
  height: 50px;
}

.landingPage_image {
  width: 62%;
  margin-bottom: 0;
}

.txt1 {
  font-size: 40px; 
  font-weight: 600;
  font-family: 'Jacques Francois', sans-serif;
}

.txt2 {
  width: 500px;
  height: 300px;
  flex-shrink: 0;
  font-size: 20px;
  font-family: 'Jacques Francois', sans-serif;
  font-weight: 400;
  line-height: normal;
}

.grid-container {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.statics{
  width: fit-content;
  margin: 10px auto;
  display: flex;
  gap: 40px;

}
.statics p{
  margin-top: -20px;
}
.schoolList{
  width: 100%;
  padding: 20px 17.6%;
}


