.black-white-minimalist-logo-2-icon1 {
  position: absolute;
  top: 0;
  left: 41px;
  width: 259px;
  height: 190px;
  object-fit: cover;
}
.log-in {
  position: absolute;
  top: 61px;
  left: 643px;
  font-size: var(--font-size-45xl);
  display: inline-block;
  width: 251px;
  height: 99px;
}
.email1 {
  font-weight: 500;
}
.email,
.password {
  position: absolute;
  top: 279px;
  left: 421px;
  display: inline-block;
  width: 168px;
}
.password {
  top: 426px;
  font-weight: 500;
  width: 169px;
  height: 59px;
}
.login-child,
.login-item {
  position: absolute;
  top: 265px;
  left: 625px;
  background: linear-gradient(#000, #000), #d9d9d9;
  width: 505px;
  height: 73px;
}
.login-item {
  top: 412px;
  left: 632px;
}
.forgot-password,
.remember-me {
  position: absolute;
  top: 0;
  text-decoration: underline;
  font-weight: 500;
}
.remember-me {
  left: 0;
  display: inline-block;
  width: 144px;
}
.forgot-password {
  left: 164px;
}
.rectangle-div,
.remember-me-parent {
  position: absolute;
  top: 669px;
  left: 542px;
  width: 454px;
  height: 88px;
}
.rectangle-div {
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-lightcoral);
  width: 200px;
  height: 68px;
}
.login2 {
  position: absolute;
  top: 15px;
  left: 47px;
  font-weight: 800;
  display: inline-block;
  width: 106.8px;
  height: 38.2px;
  cursor: pointer;
}
.group-div {
  position: absolute;
  top: 577px;
  left: 589px;
  width: 200px;
  height: 68px;
  color: var(--color-white);
}
.privacy-policy3 {
  position: absolute;
  top: 0;
  left: 242px;
  display: inline-block;
  width: 241px;
}
.need-help1,
.terms-of-use3 {
  position: absolute;
  top: 0;
  left: 532px;
}
.need-help1 {
  left: 0;
  cursor: pointer;
}
.privacy-policy-group {
  position: absolute;
  top: 949px;
  left: 331px;
  width: 758px;
  height: 44px;
}
.login1 {
  position: relative;
  background-color: var(--color-slategray);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
