.about-us {
  text-align: center;
  background-color: #fff;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  align-items: center;
  padding: 40px;
}

h3 {
  color: #020101;
  font-family: Jacques Francois;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content {
  display: inline-flex;
  align-items: center;
  gap: 130px;
}

.content img {
  background: url(/public/uabout.png), lightgray 50% / cover no-repeat;
}

.content p {
  color: #020101;
  font-family: Jacques Francois;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}