.apply-now {
  position: relative;
  font-size: 32px;
  font-weight: 800;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.apply-now-wrapper {
  cursor: pointer;
  border: 0;
  padding: 30px 82px;
  background-color: #e37576;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.apply-now-wrapper:hover {
  background-color: #b74d4f;
}
