.custom-button {
    background-color: #E37576;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    line-height: normal;
    flex-shrink: 0;
  }

  .custom-button:hover {
    background-color: darksalmon;
  }