.main-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin: 20px;
    background-color: #778291;
  }
  
  .inner-box {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
  }
  
  .extended-box {
    width: 50px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    left: -30px;
    background-color: #e6e6e6;
  }