.contact-us {
  height: 100%;
  font-family: Jacques Francois;
  font-style: normal;
  justify-content: center;
  align-items: center;


}

.getInTouch-box {
  display: flex;
  width: 898px;
  /* width: 65%; */
  height: 300px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: #778291;
}

.getInTouch-box h3 {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

.contactContainer {
  display: flex;
  width: 690px;
  height: 83px;
  gap: 20px;
  flex-shrink: 0;
}

.inner-box {
  display: flex;
  background-color: #fff;
  width: 214px;
  height: 83px;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.inner-box h2 {
  color: #778291;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.inner-box p {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.circle {
  width: 47px;
  height: 49px;
  flex-shrink: 0;
  fill: #bbafaf;
}

.newsletter-box {
  display: flex;
  width: 608px;
  height: 157px;
  padding: 10px 20px;
  flex-direction: column;
  align-items: center;
  /* gap: 300px; */
  margin-left: 150px;
  margin-top: -40px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.newsletter-box h2 {
  color: #E37576;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.newsletter-input {
  display: flex;
  width: 375px;
  height: 34px;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

.newsletter-box button {
  width: 140px;
  color: white;
  height: 34px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background: #E37576;
}