.frame-icon {
  position: absolute;
  top: 0;
  left: 366.6px;
  width: 1010.4px;
  height: 785px;
  object-fit: cover;
}
.discover-your-perfect {
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
  width: 674.6px;
}
.explore-a-world {
  position: relative;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 673.6px;
  height: 195px;
  flex-shrink: 0;
}
.discover-your-perfect-universi-parent {
  position: absolute;
  top: 123px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-33xl);
}
.frame-parent2,
.section1 {
  position: absolute;
  top: -2px;
  left: 59px;
  width: 1377px;
  height: 785px;
}
.section1 {
  top: 167px;
  left: 0;
  background-color: var(--color-slategray);
  width: 1440px;
  height: 783px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-jacques-francois);
}
@media screen and (max-width: 1200px) {
  .frame-icon {
    max-width: 50%;
    height: auto;
  }
  .section1 {
    height: auto;
  }
}
