:root {
    --pink: #E37576; /* Assuming the value from app_color.js */
    --black: #2C2C2C;
    --white: #FFFFFF;
    --blue:  #2C3E50;
    /* ... define other colors similarly */
  }
.slidingView{
    width: 100%;
    padding: 0px 200px;
    /* margin-right: 0px; */
}
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
.viewSection{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 310px;
    background-color: var(--blue);
    justify-content: center;
    gap: 100px;
    align-items: center;
    color: var(--white);
    padding: 30px 100px;

}
.viewSection text{
    margin-right: 10px;
}
.viewSection span{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
