.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #e37576;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
  width: 194px;
  height: 72px;
}
.rectangle-button:hover {
  background-color: #b94e50;
}
