.frame-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightcoral);
  position: relative;
  border-radius: var(--br-21xl);
  width: 400px;
  height: 100px;
}
.frame-child:hover {
  background-color: var(--color-indianred);
}
