@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-jacques-francois: "Jacques Francois";

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-45xl: 64px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-white: #fff;
  --color-lightcoral: #e37576;
  --color-indianred: #b94e50;
  --color-indianred-100: #b74d4f;
  --color-black: #000;
  --color-slategray: #778291;
  --color-gray-100: #020201;
  --color-gray-200: #020101;
  --color-brown: #a53d3f;
  --color-gainsboro: #d9d9d9;

  /* Paddings */
  --padding-xl: 20px;
  --padding-11xl: 30px;
  --padding-63xl: 82px;
  --padding-33xl: 52px;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-xl: 20px;
  --br-11xl: 30px;
}
